{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/feed.css">
{% endblock %} {% block content %}

<img class="wave" src="images/wave-horizontal.png" style="top: 5%;" />
<img class="wave" src="images/wave-horizontal.png" style="top: 25%;" />
<img class="wave" src="images/wave-horizontal.png" style="top: 45%;" />
<img class="wave" src="images/wave-horizontal.png" style="top: 65%;" />
<img class="wave" src="images/wave-horizontal.png" style="top: 85%;" />

<div class="construction-container">
  <h1 class="construction-text">Under Construction</h1>
</div>
{% endblock %}