{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/feed.css">
{% endblock %} {% block content %}
<!-- <div class="squiggle-frame"> -->

<img class="squiggle" src="images/squiggle-horizontal.png" style="top: 5%;" />
<img class="squiggle" src="images/squiggle-horizontal.png" style="top: 25%;" />
<img class="squiggle" src="images/squiggle-horizontal.png" style="top: 45%;" />
<img class="squiggle" src="images/squiggle-horizontal.png" style="top: 65%;" />
<img class="squiggle" src="images/squiggle-horizontal.png" style="top: 85%;" />

<!-- </div> -->
<p>FEED</p>
{% endblock %}