{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/festivals.css">
{% endblock %}
{% block content %}

<img class="wave" src="images/wave-vertical.png" style="left: 5%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 25%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 45%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 65%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 85%;" />

<div class="header">
  <h1 class="title-text">Upcoming Festivals</h1>
  <form class="search-form" method="get">
    <div class="search-box">
      <input class="search-input" type="text" placeholder="Search festivals...">
    </div>
  </form>
</div>
<div class="festivals">
  {% for festival in festivals %}
  <div class="festival">
    <div class="festival-name-container">
      <h2 class="border-text"> {{ festival.name }}</h2>
    </div>

    <div class="festival-information-container">
      <div>
        <p class="festival-information" >Date: {{ festival.date }}</p>
      </div>
      <div>
        <p class="festival-information" >Location: {{ festival.location }}</p>
      </div>
      <div>
        <a href="{{ festival.website }}">
          <div class ="external-website">
            <p class="festival-information" target="blank" > Website</p>
            <img class="external-link  festival-information" src="images/open-new.svg" />
          </div>
        </a>
      </div>
    </div>
    <a href="/festivals/{{ festival.id }}">
      <div class="make-playlist-button">
        <h2 class="border-text">Make a Playlist</h2>
      </div>
    </a>
  </div>
  {% endfor %}

</div>

{% endblock %}