{% block head %}
<link rel="stylesheet" href="/stylesheets/festivals.css">
{% endblock %}
{% extends 'layout.html' %} {% block content %}
<div class="squiggle-frame">

  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 5%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 25%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 45%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 65%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 85%;" />

</div>

{% for festival in festivals %}
<div class="festival">
  <!-- <div class="festival-image">
    <img src="{{ festival.image }}" />
  </div> -->
  <div class="festival-info">
    <h2>{{ festival.name }}</h2>
    <!-- <p>{{ festival.location }}</p> -->
    <p>{{ festival.date }}</p>
    <!-- <p>{{ festival.website }}</p> -->
  </div>

</div>
<a href="/festivals/{{ festival.id }}">Make a Playlist</a>
{% endfor %}
{% endblock %}

