{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/stylesheets/festival.css">
{% endblock %}

{% block content %}
<script src="/javascripts/festival.js"></script>

<div class="header">
    <h2>{{ festival.name }}</h2>
    <span>Date: {{ festival.date }}</span>
    <span>Location: {{ festival.location }}</span>
    <a href="{{ festival.website }}"><p>Check out their website</p></a>
</div>
<div class = "button-container">
    <button id="add-all" class="playlist-button">Add All Artists</button>
    <button id="remove-all" class="playlist-button">Remove All Artists</button>
</div>

<div class="playlist-creation-container">
    <div class="festival">
        <div class="festival-name-container">
            <h2 id="festival-name-header" class="border-text"> {{ festival.name }}</h2>
        </div>

        <div class="festival-artist-container">
            {% for act in festival.acts %}
            <div class="artist" artist-id="{{ act.spotify_id}}">
                {{act.artist_name}}
            </div>
            {% endfor %}
            <!-- Contains divs with all artists in the festival -->
        </div>
    </div>

    <div class="playlist">
        <div class="playlist-name-container">
            <h2 class="border-text">Playlist</h2>
        </div>

        <div class="playlist-artist-container">
            <!-- Contains divs with all artists in the playlist -->
        </div>
    </div>
</div>
{% if user %}
<button type="button" class="playlist-button" id="submit-playlist">Submit Playlist</button>
{% endif %}
{% if not user %}
<a href="/login"><button type="button" class="playlist-button">Log in to create a playlist</button></a>
{% endif %}
<p><a href="/">Back to Homepage</a></p>
{% endblock %}