{% block head %}
<link rel="stylesheet" href="/stylesheets/festivals.css">
{% endblock %}
{% extends 'layout.html' %} {% block content %}
<p>testing</p>
<div class="squiggle-frame">

  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 5%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 25%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 45%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 65%;" />
  <img class="squiggle" src="images/squiggle-vertical.png" style="left: 85%;" />

</div>


{% endblock %}