{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/stylesheets/festival.css">
{% endblock %}

{% block content %}
<script src="/javascripts/festival.js"></script>

<div class="header">
    <h2>{{ festival.name }}</h2>
    <span>Date: {{ festival.date }}</span>
    <span>Location: {{ festival.location }}</span>
    <a href="{{ festival.website }}">
        <div class="external-website">
            <p>Check out their website</p>
            <img class="external-link" src="/images/open-new.svg" />
        </div>
    </a>
</div>
<div class="track-count-select">
    <label for="track-count-multiple">Number of Tracks per Artist:</label>
    <select id="track-count-multiple">
        <option value="random">🤷</option>
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>

    </select>
</div>
<div class="button-container">
    <button id="add-all" class="playlist-button">Add All Artists</button>
    <button id="remove-all" class="playlist-button">Remove All Artists</button>
</div>

<div class="playlist-creation-container">
    <div class="festival">
        <div class="festival-name-container">
            <h2 id="festival-name-header" class="border-text"> {{ festival.name }}</h2>
        </div>

        <div class="festival-artist-container">
            {% for act in festival.acts %}
            <div class="artist" artist-id="{{ act.spotify_id}}">
                {{act.artist_name}}
            </div>
            {% endfor %}
            <!-- Contains divs with all artists in the festival -->
        </div>
    </div>

    <div class="playlist">
        <div class="playlist-name-container">
            <h2 class="border-text">Playlist</h2>
        </div>

        <div class="playlist-artist-container">
            <!-- Contains divs with all artists in the playlist -->
        </div>
    </div>
</div>
{% if user %}
<button type="button" class="playlist-button" id="submit-playlist">Submit Playlist</button>
{% endif %}
{% if not user %}
<a href="/login"><button type="button" class="playlist-button">Log in to create a playlist</button></a>
{% endif %}
<div id="generating-loader">
    <span>Generating Playlist</span>
    <span>
        <div class="ripple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </span>
</div>
<p><a href="/playlists">Go to My Playlists</a></p>
{% endblock %}