{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/home.css">
{% endblock %}

{% block content %}

<img class="wave" src="images/wave.png" style="left: 0%; top: 0%;" />
<img class="wave" src="images/wave.png" style="left: -2%; top: 2%;" />
<img class="wave" src="images/wave.png" style="left: -4%; top: 4%;" />
<img class="wave" src="images/wave.png" style="left: -6%; top: 6%;" />
<img class="wave" src="images/wave.png" style="left: -8%; top: 8%;" />

<div class="logo-container">
	<img class="logo" src="/images/festy-full.png" />
</div>

<div class="slogan-container">
	<h1 class="slogan">Find the
		<span class="slogan-festival"> Festival </span>
		<br>
		Prepare your <span class="slogan-playlist"> Playlist </span>
	</h1>
</div>

{% endblock %}