{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/home.css">
{% endblock %}

{% block content %}
<div class="squiggle-frame">

		<img class="squiggle" src="images/squiggle.png" style="left: 0%; top: 0%;" />
		<img class="squiggle" src="images/squiggle.png" style="left: 2%; top: -2%;" />
		<img class="squiggle" src="images/squiggle.png" style="left: 4%; top: -4%;" />
		<img class="squiggle" src="images/squiggle.png" style="left: 6%; top: -6%;" />
		<img class="squiggle" src="images/squiggle.png" style="left: 8%; top: -8%;" />

</div>

{% endblock %}