{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/playlists.css">
{% endblock %}
{% block content %}

<img class="wave" src="/images/wave-vertical.png" style="left: 5%;" />
<img class="wave" src="/images/wave-vertical.png" style="left: 25%;" />
<img class="wave" src="/images/wave-vertical.png" style="left: 45%;" />
<img class="wave" src="/images/wave-vertical.png" style="left: 65%;" />
<img class="wave" src="/images/wave-vertical.png" style="left: 85%;" />

<div class="playlist-container">
    {% if playlists|length == 0 %}
    <h1>No Playlists Found</h1>
    {% endif %}

    {% for playlist in playlists %}
    <div class="playlist">
        <h2>{{ playlist.name }}</h2>
        <a href="{{ playlist.url }}" target="blank">
            <p>Open in Spotify</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}