{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/playlists.css">
{% endblock %}
{% block content %}

<img class="wave" src="images/wave-vertical.png" style="left: 5%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 25%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 45%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 65%;" />
<img class="wave" src="images/wave-vertical.png" style="left: 85%;" />

<div class="construction-container">
    <h1 class="construction-text">Under Construction</h1>
</div>
{% endblock %}