/* Home page styles */
.wave {
    width: 120vw;
    max-height: 120vh;
    height: auto;
    display: block;
    position: absolute;
    object-fit: contain;
}

.wave-2 {
    width: 110vw;
    max-height: 110vh;
    height: auto;
    display: none;
    position: absolute;
    object-fit: contain;

}

.logo-container {
    position: absolute;
    top: 20%;
    left: 65%;
}

.logo {
    object-fit: contain;
    width: 100%;
}

.slogan-container {
    position: absolute;
    top: 70%;
    left: 10%;
    margin: 10px;
}

.slogan {
    font-size: 4em;
    color: #480077;
    font-weight: 1000;
    font-family: "Lexend", sans-serif;
}

.slogan-playlist{
    color: #636AFF;
}

.slogan-festival{
    color: #E47777
}

@media screen and (max-width: 970px) {
    .logo-container {
        top: 10%;
        left: 65%;
        width: 30%;
    }

    .slogan-container{
        top: 40%;
        left: 5%;
    }

    .slogan {
        font-size: 3em;
    }
}

@media screen and (max-width: 600px) {
    .wave-2{
        display: block;
    }
}