{% extends 'layout.html' %} {% block content %}

<div class="container" style="max-width: 600px">
  <h3 class="mb-3">Axios File Upload</h3>

  <div class="input-group">
    <div class="custom-file">
      <input id="input-file" type="file" class="custom-file-input" />
      <label id="input-file-label" class="custom-file-label" for="input-file">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-success" id="submit-btn" type="button">
        Upload
      </button>
    </div>
  </div>
  <div id="image-wrapper" style="position: relative; z-index: 2;">
    <div id="canvas"></div>
    <div id="rectangle" style="position: fixed; z-index: 5;"></div>
  </div>
  <!-- <button id="back">Back</button> -->


</div>
<div>
  <ul id="artist-list">
    <!--Artist names appended to list here-->
  </ul>

</div>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/original.js"></script>
{% endblock %}